/***************************************************
 * Styles used when generating a PDF from xhtml+css
 ***************************************************/

/* General css3 for print/online (lesscss does not parse these) */

@page {
  margin: 5em;
  font-size: xx-small;
  font-family: Liberation Sans, sans-serif, STIXGeneral, STIXSizeOneSym, STIXSize1;

  @footnotes {
    border-top: solid black thin;
    padding-top: 1em;
  }
}

@page :left {
  @top-left-corner {
    content: counter(page);
    padding-right: 1em;
  }
  @top-left {
    content: string(cnx-header);
    text-transform: uppercase;
  }
}

@page :right {
  @top-right-corner {
    content: counter(page);
    padding-left: 1em;
  }
  @top-right {
    content: string(cnx-header);
    text-transform: uppercase;
  }
}
