@import url('ccap-physics.css');
/***************************************************
 * Styles used when generating a PDF from xhtml+css
 ***************************************************/
@page  {
  margin: 0.5in 1.5in;
}
/****** Features ******/
.sociological-research {
  background-color: #ffccff;
  page-break-inside: avoid;
}
.sociological-research .title {
  color: #660066;
}
.sociological-research:before {
  padding-top: 0.75in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  background-color: white;
  content: "";
  display: block;
  page-break-inside: avoid;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.03in;
  background-image: url(ccap-sociology/research.svg);
}
.sociology-real-world {
  background-color: #ccffff;
  page-break-inside: avoid;
}
.sociology-real-world .title {
  color: #006666;
}
.sociology-real-world:before {
  padding-top: 0.75in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  background-color: white;
  content: "";
  display: block;
  page-break-inside: avoid;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.03in;
  background-image: url(ccap-sociology/real-world.svg);
}
.sociology-big-picture {
  background-color: #ccff99;
  page-break-inside: avoid;
}
.sociology-big-picture .title {
  color: #99cc33;
}
.sociology-big-picture:before {
  padding-top: 0.75in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  background-color: white;
  content: "";
  display: block;
  page-break-inside: avoid;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.03in;
  background-image: url(ccap-sociology/big-picture.svg);
}
.sociology-careers {
  background-color: #ffcccc;
  page-break-inside: avoid;
}
.sociology-careers .title {
  color: #cc3333;
}
.sociology-careers:before {
  padding-top: 0.75in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  background-color: white;
  content: "";
  display: block;
  page-break-inside: avoid;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.03in;
  background-image: url(ccap-sociology/careers.svg);
}
.sociology-policy-debate {
  background-color: #ffcccc;
  page-break-inside: avoid;
}
.sociology-policy-debate .title {
  color: #cc3333;
}
.sociology-policy-debate:before {
  padding-top: 0.75in;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: top outside;
  page-break-inside: avoid;
  background-color: white;
  content: "";
  display: block;
  page-break-inside: avoid;
  margin-left: -1.05em;
  margin-right: -1.05em;
  margin-top: -0.03in;
  background-image: url(ccap-sociology/policy-debate.svg);
}
/*********************** Table of Contents ********************/
.book > .toc > p {
  border-bottom: 1px solid LimeGreen;
}
.book > .toc a {
  color: Purple;
}
/* "Key Concepts" Introduction table */
.chapter .toc {
  border: 1px solid LimeGreen;
}
.chapter .toc > dl:before {
  content: "In this chapter, students will learn:";
  font-weight: bold;
  border-bottom: 1px solid LimeGreen;
}
.chapter .toc > p {
  content: "Summary";
  background-color: LimeGreen;
  font-weight: bold;
  color: black;
  padding: 0em;
}
.chapter .toc .abstract {
  display: none;
}
.chapter .toc a .cnx-gentext-n, .chapter .toc a .cnx-gentext-autogenerated {
  display: none;
}
/* subsequent paragraphs are indented */
p:nth-of-type(1) {
  text-indent: 0em;
}
p {
  font-family: Liberation Serif, serif, STIXGeneral, STIXSizeOneSym, STIXSize1;
  text-indent: 2em;
}
/* Customize EOC material */
.example > .title,
.exercise > .title,
.cnx-eoc > .title,
.index > .title,
.glossary > .titlepage {
  border-bottom: 1px solid LimeGreen;
  margin-bottom: 0.25em;
  font-weight: normal;
  color: #006666;
}
.example > .title > span,
.exercise > .title > span,
.cnx-eoc > .title > span,
.index > .title > h2,
.glossary > .titlepage > div > div > h2 {
  padding-left: 0em;
  padding-right: 0em;
  font-size: large;
  background-color: inherit;
  color: inherit;
  font-weight: normal;
}
/* Change "Glossary" to "Key Terms" */
.glossary .title {
  content: "Key Terms";
}
/* Add a title saying "Chapter Review" */
.glossary:before {
  content: "Chapter Review";
  display: block;
  color: Purple;
  font-size: x-large;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* Hide the section headers */
.cnx-eoc > .section > .title {
  display: none;
}
/* Indent margins on lists */
.cnx-eoc .problem .orderedlist {
  margin-left: 8em;
}
img {
  max-width: 5in;
}
/* From ccap-physics.css */
h1.title {
  background-color: Purple;
  font-size: 5em;
  /* xx-large; */

  padding: 0em;
}
h1.title .cnx-gentext-n {
  color: LimeGreen;
  font-weight: bold;
  padding-left: 0.25em;
}
h1.title .cnx-gentext-t {
  padding-left: 0.25em;
  text-transform: none;
}
h2 span.cnx-gentext-section.cnx-gentext-n {
  color: inherit;
}
a {
  color: inherit;
  font-weight: normal;
}
.toc > dt > dl a {
  color: #0061AA;
}
h2 {
  color: Purple;
  font-size: x-large;
}
.chapter .introduction > .title {
  color: Purple;
  font-size: large;
}
.chapter .introduction > .title span {
  border-bottom: 1px solid LimeGreen;
}
.table table {
  background-color: #FBF2E2;
}
.table caption b {
  background-color: #8FB733;
}
.chapter h3 {
  color: #006666;
  font-size: large;
}
.figure .title {
  display: inline;
  color: black;
  font-weight: normal;
}
.figure .caption {
  display: inline;
}
.note > .title {
  border-bottom: 0px;
}
