/***************************************************
 * Styles used when generating a PDF from xhtml+css
 ***************************************************/

@import url('ccap-physics.css');


/****** Features ******/
.sociological-research {
  background-color: #ffccff;
}
.sociological-research .title {
  color: #330033;
}
.sociology-real-world {
  background-color: #ccffff;
}
.sociology-real-world .title {
  color: #006666;
}
.sociology-big-picture {
  background-color: #ccff99;
}
.sociology-big-picture .title {
  color: #99cc33;
}
.sociology-careers {
  background-color: #ffcccc;
}
.sociology-careers .title {
  color: #cc3333;
}
.sociology-policy-debate {
  background-color: #ffcccc;
}
.sociology-policy-debate .title {
  color: #cc3333;
}



.exercise, .example {
  display: none;
}

/* Change "Key Concepts" to "Summary" */
.cnx-introduction-toc tr:first-child td {
  content: "Summary";
}

/* subsequent paragraphs are indented */
p:nth-of-type(1) {
  text-indent: 0em;
}
p {
  font-family: Liberation Serif, serif, STIXGeneral, STIXSizeOneSym, STIXSize1;
  text-indent: 2em;
}

/* Customize EOC material */
.example > .title, .exercise > .title, .cnx-eoc > .title, .index > .title, .glossary > .titlepage > div > div {
  border-bottom: 1px solid LimeGreen;
  margin-bottom: 0.25em;
  font-weight: normal;
  color: Purple;
}
.example > .title > span, .exercise > .title > span, .cnx-eoc > .title > span, .index > .title > h2, .glossary > .titlepage > div > div > h2 {
  padding-left: 0em;
  padding-right: 0em;
  font-size: 20pt;
  background-color: inherit;
}


/* Hide the section headers */
.cnx-eoc .cnx-eoc-section .cnx-problems-title {
  display: none;
}


/* From ccap-physics.css */

h1.title {
  background-color: Purple;
  font-size: 3.5em; /* xx-large; */
}
h1.title .cnx-gentext-n {
  color: LimeGreen;
  font-weight: bold;
}
h1.title .cnx-gentext-t {
  text-transform: none;
}
a {
	color: inherit;
	font-weight: normal;
}
.toc > dt > dl a {
  color: #0061AA;
}
h1 { prince-bookmark-level: 1 }
h2 { prince-bookmark-level: 2 }
h3, h4, h5, h6 { prince-bookmark-level: none }
h2 {
  color: Purple;
  font-size: x-large;
}
h3 {
  color: Cyan;
  font-size: large;
}
.table table {
  background-color: #FBF2E2;
}
.table caption b {
  background-color: #8FB733;
}
/*
<xsl:param name="cnx.color.orange">Purple</xsl:param>
<xsl:param name="cnx.color.blue">#0061AA</xsl:param>
<xsl:param name="cnx.color.red">#D89016</xsl:param>
<xsl:param name="cnx.color.green">#8FB733</xsl:param>
<xsl:param name="cnx.color.silver">#FBF2E2</xsl:param>
<xsl:param name="cnx.color.aqua">#EFF2F9</xsl:param>
<xsl:param name="cnx.color.light-green">#F1F6E6</xsl:param>
*/
.section > .title > span {
	background-color: none;
	padding-left: inherit;
	padding-right: inherit;
	font-size: large;
}
.titlepage h3 {
	color: #0061AA;
}
.figure .title {
  display: inline;
	color: black;
	font-weight: normal;
}
.figure .caption {
  display: inline;
}
.section-title-number {
	color: #0061AA;
}
.formal-object-properties {
	background-color: #F1F6E6;
}
.cnx-formal-object-inner {
  background-color: #FBF2E2;
}
.note {
}
.note > .title {
  font-size: large;
  border-bottom: 0px;  
}
.cnx-note-tip-body {
	background-color: #EFF2F9;
	border-top-color: Purple;
	color: #0061AA;
}
.cnx-note-tip-title-inline {
	background-color: #0061AA;
}
.cnx-introduction-chapter {
	background-color: Purple;
}
.cnx-introduction-title {
	border-bottom: 1px solid LimeGreen;
}
.cnx-introduction-title-text {
	color: Purple;
}
table.cnx-introduction-toc {
	border: 1px solid LimeGreen;
}
table.cnx-introduction-toc tr:first-child {
	background-color: LimeGreen;
	color: black;
}
table.cnx-introduction-toc tr:not(:first-child) td:first-child {
	display: none;
}
.cnx-introduction-toc td:last-child a {
  font-weight: bold;
}
.cnx-problems-title {
	color: #0061AA;
}
.cnx-problems-subtitle {
	color: #0061AA;
}
