/***************************************************
 * Styles used when generating a PDF from xhtml+css
 ***************************************************/

/* Print-specific styles <style media="print"... */
@import url('ccap-css3.css');

/* Don't print module asterix (link to attribution) */
sup a {
  display: none;
}


/* General css for print/online */

.toc {
  ul, li { list-style-type: none; padding-left: 0em; margin-left: 1em; }
}
.toc > ul, .toc > ul > li { margin-left: 0em; }

.toc-section .toc-section {
  display: none;
}


/* Hide sub-sections from the book TOC */
/*.book */ .toc .toc-section .toc-section { display: none; }

/* Hide the TOC for the Appendix */
.appendix .toc {
  display: none;
}

/* Footnotes. remove margins */
.footnote {
  //font-size: 83%;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  * {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
  }
}

/********************** Generic Elements ********************/

body {
  font-size: 8.2pt;
  font-family: Liberation Sans, sans-serif, STIXGeneral, STIXSizeOneSym, STIXSize1;
  prince-jpeg-quality: 20%;
}

a[href^="http"] {
  content: content() " (" attr(href) ") ";
}

.chapter, .appendix, .colophon {
  page-break-before: right;
  page-break-after: left;
}  

.equation {
  page-break-inside: avoid;
  text-align: center;
}
.equation .label {
  float: right;
}
.figure {
	font-size: xx-small;
	padding-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	page-break-inside: avoid;
}
.mathml-mi {
  font-family: Liberation Serif, serif, STIXGeneral, STIXSizeOneSym, STIXSize1;
}

/**************************** Index **************************/

.index[title=Index] {
  page-break-before: always;
  page-break-after: always;
  page-break-inside: auto;
  column-count: 3;
  string-set: cnx-header "Index";
}

.index .title * {
  display: inline;
}
.index .title * {
  string-set: cnx-header content();
}

.indexdiv, .indexdiv dl {
  page-break-inside: auto;
}

.indexterm {
  content: target-counter(attr(href), page);
}


/********************* Glossary Section **************/

.glossary dt {
}
em.glossterm {
}

#book.attribution, .colophon {
  font-size: x-small;
}

/*********************** Table of Contents ********************/

.book > .toc {
  page-break-before: right;
  page-break-after: always;
}

.book > .toc > p {
  font-size: x-large;
  text-align: center;
}

/**************** Fix the PDF Outline *************/
h1 { bookmark-level: 1; page-break-after: avoid; }
h2 { bookmark-level: 2; page-break-after: avoid; }
h3, h4, h5, h6 { bookmark-level: none; page-break-after: avoid; }


/****************** Modern-Textbook classes ****************/

.introduction {
  /* page-break-after: always; */
}

/* Hide the manual key-concepts table */
.introduction table.simplelist {
  display: none;
}

.problems-exercises {
  -webkit-column-count: 2; // Supported by webkit
  column-count: 2;         // Not supported (but should be)
  columns: 2;              // Supported by PrinceXML
  page-break-before: always;
}

/* Allow sections in the 2-column problems-exercises to break */
.problems-exercises .section {
  page-break-inside: auto;
}


/***************************************************************
 * Clean up padding and spacing
 ***************************************************************/
li p, dd p {
  margin-top: 0px;
  margin-bottom: 0px;
}
ol, ul {
  margin-top: 0px;
}
dl {
  margin: 0.5em;
}
p {
  margin: 0.5em 0em;
}
.table {
  page-break-inside: avoid;
  margin: auto;
}
.table td {
  padding: 0.25em;
}
.table caption {
  align: top;
  text-align: left;
}

.itemizedlist .title {
  margin: 0px;
  float: none;
  max-width: inherit;
}
